@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #6750A4;
  --onPrimary : #FFFFFF;
  --primaryContainer : #EADDFF;
  --onPrimaryContainer : #21005D;
  --secondary: #625B71;
  --onsecondary : #FFFFFF;
  --secondaryContainer : #E8DEF8;
  --onSecondaryContainer : #1D192B;
  --tertiary: #7D5260;
  --onTertiary : #FFFFFF;
  --tertiaryContainer : #FFD8E4;
  --onTertiaryContainer : #31111D;
  --error : #B3261E;
  --onError : #FFFFFF;
  --errorContainer : #F9DEDC;
  --onErrorContainer : #410E0B;
  --surface : #FEF7FF;
  --onSurface : #1D1B20;
  --surfaceVariant : #E7E0EC;
  --onSurfaceVariant : #49454F;
  --surfaceContainer : #F3EDF7;
  --outline : #79747E;
  --outlineVariant : #CAC4D0;
  --shade: #e2e8ec;
  --text: #51555a;
  --text-shade : #e7e7e7;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: var(--surface);
  min-height: 100vh;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input{
  padding: 5px !important;
}























/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

 .react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

 .react-calendar-heatmap {
  /* Existing styles... */
  fill: var(--primary);
  
}

.react-calendar-heatmap .color-scale-1{
  opacity : 0.14;
  }
  .react-calendar-heatmap .color-scale-2{
  opacity : 0.18;
  }
  .react-calendar-heatmap .color-scale-3{
  opacity : 0.22;
  }
  .react-calendar-heatmap .color-scale-4{
  opacity : 0.26;
  }
  .react-calendar-heatmap .color-scale-5{
  opacity : 0.30;
  }
  .react-calendar-heatmap .color-scale-6{
  opacity : 0.34;
  }
  .react-calendar-heatmap .color-scale-7{
  opacity : 0.38;
  }
  .react-calendar-heatmap .color-scale-8{
  opacity : 0.42;
  }
  .react-calendar-heatmap .color-scale-9{
  opacity : 0.46;
  }
  .react-calendar-heatmap .color-scale-10{
  opacity : 0.50;
  }
  .react-calendar-heatmap .color-scale-11{
  opacity : 0.53;
  }
  .react-calendar-heatmap .color-scale-12{
  opacity : 0.56;
  }
  .react-calendar-heatmap .color-scale-13{
  opacity : 0.59;
  }
  .react-calendar-heatmap .color-scale-14{
  opacity : 0.62;
  }
  .react-calendar-heatmap .color-scale-15{
  opacity : 0.65;
  }
  .react-calendar-heatmap .color-scale-16{
  opacity : 0.68;
  }
  .react-calendar-heatmap .color-scale-17{
  opacity : 0.71;
  }
  .react-calendar-heatmap .color-scale-18{
  opacity : 0.74;
  }
  .react-calendar-heatmap .color-scale-19{
  opacity : 0.77;
  }
  .react-calendar-heatmap .color-scale-20{
  opacity : 0.80;
  }
  .react-calendar-heatmap .color-scale-21{
  opacity : 0.81;
  }
  .react-calendar-heatmap .color-scale-22{
  opacity : 0.82;
  }
  .react-calendar-heatmap .color-scale-23{
  opacity : 0.83;
  }
  .react-calendar-heatmap .color-scale-24{
  opacity : 0.84;
  }
  .react-calendar-heatmap .color-scale-25{
  opacity : 0.85;
  }
  .react-calendar-heatmap .color-scale-26{
  opacity : 0.86;
  }
  .react-calendar-heatmap .color-scale-27{
  opacity : 0.87;
  }
  .react-calendar-heatmap .color-scale-28{
  opacity : 0.88;
  }
  .react-calendar-heatmap .color-scale-29{
  opacity : 0.89;
  }
  .react-calendar-heatmap .color-scale-30{
  opacity : 0.90;
  }
  .react-calendar-heatmap .color-scale-31{
  opacity : 0.91;
  }
  .react-calendar-heatmap .color-scale-32{
  opacity : 0.92;
  }
  .react-calendar-heatmap .color-scale-33{
  opacity : 0.93;
  }
  .react-calendar-heatmap .color-scale-34{
  opacity : 0.94;
  }
  .react-calendar-heatmap .color-scale-35{
  opacity : 0.95;
  }
  .react-calendar-heatmap .color-scale-36{
  opacity : 0.96;
  }
  .react-calendar-heatmap .color-scale-37{
  opacity : 0.97;
  }
  .react-calendar-heatmap .color-scale-38{
  opacity : 0.98;
  }
  .react-calendar-heatmap .color-scale-39{
  opacity : 0.99;
  }